:root{
    --white:#FFFFFF;
    --black:#222;
    --yellow:#ff9900;
    --gray:#666;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--white);
}
p{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
    color: var(--black);
}
hr{
    height: 1px;
    background-color: var(--black);
}
img{
    max-width: 100%;
    max-height: 100%;
}

/*------Top Navbar Section--------*/
.top_navbar{
    border-bottom: 0.5px solid lightgray;
}
.top_nav_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.top_nav_lists{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.top_nav_lists li{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.top_nav_lists li:hover .icon_top_nav span i,.top_nav_lists li:hover .info_top_nav p{
    color: var(--black);
}
.icon_top_nav span i{
    font-size: 16px;
    color: var(--black);
    margin-right: 8px;
}
.info_top_nav p{
    font-size: 14px;
    color: var(--gray);
    font-weight: 300;
}
.top_nav_btn .buy_btn{
    background-color: var(--black);
    color: var(--white);
    padding: 6px 20px;
    font-size: 12px;
    border: 1px solid var(--black);
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.top_nav_btn .buy_btn:hover{
    background-color: transparent;
    color: var(--black);
    
}
/*------End Top Navbar Section--------*/


/*------Main Navigation Section--------*/
.site_logo a h2{
    font-size: 24px;
    font-weight: 900;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.site_logo a h2 span{
    color: var(--yellow);
}
.main_menu{
    position: relative;
    column-gap: 25px;
}
.main_menu li.nav-item{
    position: relative;
}
.main_menu li.nav_item a.nav_link{
    padding: 3px 8px;
    color: var(--black);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.main_menu li.nav_item a.nav_link:hover{
    border: 1px solid var(--yellow);
}
.main_menu li.nav_item.active a.nav_link{
    border: 1px solid var(--yellow);
}
.extra_icons_list ul{
    column-gap: 15px;
}
.extra_icons_list ul li{
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.extra_icons_list ul li span{
    background: var(--black);
    display: flex;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.extra_icons_list ul li span i{
    font-style: 12px;
}
.extra_icons_list ul li:hover span{
    background-color: var(--yellow);
}
/*------End Main Navigation Section--------*/

/*------Hero Section--------*/
.hero_section{
    width: 100%;
    height: 500px;
}
.main_hero{
    width: 100%;
    height: 500px;
    position: relative;
    align-items: center;
}
.hero_section .owl-stage-outer,.hero_section .owl-stage{
    height: 100% !important;
}
.hero_section .owl-carousel .owl-item{
    height: 100% !important;
    display: flex;
    align-items: center;
}
.hero_section .owl-theme .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.hero_section .owl-theme .owl-dots .owl-dot span{
    width: 20px !important;
    height: 20px !important;
    border: 3px solid var(--white) !important;
    background-color: transparent !important;
}
.hero_section .owl-theme .owl-dots .owl-dot.active span{
    background-color: var(--white) !important;
}
.hero_section .owl-nav {
    position: absolute;
    position: absolute !important;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: unset !important;
}
.hero_section .owl-nav button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--black) !important;
    background: transparent;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
.hero_section .owl-nav button:hover{
    background-color: var(--black) !important;
}
.hero_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.hero_img img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: top;
}
.hero_content{
    padding-left: 15%;
}
.hero_content h2{
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hero_content h3{
    font-size: 25px;
    font-weight: 500;
    line-height: 1.1rem;
    margin-bottom: 25px;
}
.hero_content p{
    width: 50%;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
}
.hero_content a{
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 15px;
    background: var(--black);
    color: var(--white);
    letter-spacing: 1px;
    display: inline-block;
}
/*------End Hero Section--------*/

/*------Start Offer Section--------*/
.middle_offer{
    background: #ddd7bf;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.small_text{
    background-color: var(--white);
    display: inline-block;
    padding: 5px 8px;
}
.small_text span{
    font-size: 14px;
    font-weight: 700;
    text-transform: lowercase;
}
.parent__offer{
    font-size: 60px;
    margin-top: 14px;
    font-weight: 700;
    color: var(--black);
    line-height: 1;
    text-align: center;
}
.left_box .parent__offer,.right_box .parent__offer{
    color: var(--white);
}
.middle_offer p,.right_box p,.left_box p{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--black);
}
.right_box p,.left_box p{
    color:var(--white)
}
.middle_offer a,.right_box a,.left_box a{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: underline;
    display: inline-block;
    padding: 4px 5px;
}
.right_box a,.left_box a{
    color: var(--white);
}
.offer_box{
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}
.offer_box .box-1,.offer_box .box-3{
    width: 40%;
}
.offer_box .box-2{
    width: 20%;
}
.right_box{
    background: url(../img/offer-1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.right_box::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff9900;
    opacity: 0.5;
    z-index: -1;
}
.left_box{
    background: url(../img/offer-2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.left_box::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0d2c2a;
    opacity: 0.5;
    z-index: -1;
}